# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Telethon session files
*.session
*.session-journal

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
proxies.json
temp_images/report_SECURITY_ALERT_1766678640.png
temp_images/report_WHALE_HUNTING_1766678640.png
.gitignore
